.company-card {
  border: 1px solid var(--background-modifier-border);
  margin-bottom: 15px;
  padding: 8px;
  cursor: pointer;
}

.company-card .name {
  font-size: 1.1em;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.company-card .lastContact {
  font-size: 0.8em;
}

.vl {
  border-left: 1px solid;
  height: 20px;
  margin: 4px 3px 0 3px;
}

.workspace-leaf-content[data-type='companies-view'] .view-content {
  padding-top: 0;
}


.companyname {
  font-weight: 600;
}

.title {
  font-size: 0.9em;
}

.phone {
  font-size: medium;
}


.department {
  display: inline-block;
  background-color: #494e49;
  color: #fff;
  border-radius: 30px;
  padding: 7px 7px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  float: right;
  margin: 10px 0 0 0;
}

.emailmain {
  color: #fbfbfb;
  font-weight: 600;
  margin: 2px;
}
